<div class="footer">
  <hr/>
  <div class="footer-message">
    <div class="footer-text">
      <em>StuLoM</em> is intended to aid studying, not promote cheating. 
      Please handle with academic integrity.
    </div>
    <div class="footer-text">
      Feel free to poke around the codebase on
      <a href="https://www.github.com/jakeod99/study-lom" target="_blank" rel="noopener noreferrer">GitHub</a>,
      and please
      <a href="https://www.github.com/jakeod99/study-lom/issues" target="_blank" rel="noopener noreferrer">let Jake know</a>
      if you find any issues.
    </div>
</div>