<tr>
  <td><%= local_assigns[:term].name %></td>
  <td><%= local_assigns[:term].type + " Term" %></td>
  <td><%= local_assigns[:term].meaning %></td>
  <td><%= local_assigns[:term].example %></td>
</tr>